@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@800&family=Poppins:wght@300&family=Roboto:ital,wght@1,900&display=swap');
body {
    font-family: sans-serif;
    margin: 0;
}
.background {
    background: #9b3636;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 100vh;
    z-index: -1;
}
.section {
    display: flex;
    min-height: 100vh;
    position: relative;
    z-index: 3;
}
.section > *{
    width: 50%;
}
.section-img {
    position: relative;
    display: flex;
    padding: 0;
}
.section-img-inner {
    height: 80vh;
    position: fixed;
    left: 1%;
    width: 48%;
    top: 7em;
    object-fit: cover;
    mix-blend-mode: multiply;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: blur(30px);
    opacity: 0;
    margin-bottom: 20px;
    background-position: 50% 40%;
    transition: .2s ease, opacity .2s ease, background-position .2s ease;
}
.section-body {
    display: flex;
    align-items: center;
}
.section-text {
    padding: 5vw;
}
.section.active .section-img-inner {
    opacity: 1;
    background-position: 50% 50%;
    filter: blur(0);
}
h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 0.5em;
    margin-top: 0;
}
.description {
    font-family: Verdana;
    font-size: 1.5rem;
    color: rgb(65, 65, 65);
}